# Student Loan Risk with Deep Learning

In [1]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report
from pathlib import Path

WARNING:tensorflow:From c:\Users\arnab\anaconda3\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `student-loans.csv` file into a Pandas DataFrame. Review the DataFrame, looking for columns that could eventually define your features and target variables.

In [2]:
# Read the csv into a Pandas DataFrame
file_path = "https://static.bc-edx.com/ai/ail-v-1-0/m18/lms/datasets/student-loans.csv"
loans_df = pd.read_csv(file_path)

# Review the DataFrame
loans_df.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score,credit_ranking
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0

In [3]:
# Review the data types associated with the columns
loans_df.dtypes

payment_history           float64
location_parameter        float64
stem_degree_score         float64
gpa_ranking               float64
alumni_success            float64
study_major_code          float64
time_to_completion        float64
finance_workshop_score    float64
cohort_ranking            float64
total_loan_score          float64
financial_aid_score       float64
credit_ranking              int64
dtype: object

In [4]:
# Check the credit_ranking value counts
loans_df["credit_ranking"].value_counts()

credit_ranking
1    855
0    744
Name: count, dtype: int64

### Step 2: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “credit_ranking”. The remaining columns should define the features dataset.

In [5]:
# Define the target set y using the credit_ranking column
y = loans_df['credit_ranking']

# Display a sample of y
y.head()

0    0
1    0
2    0
3    1
4    0
Name: credit_ranking, dtype: int64

In [6]:
# Define features set X by selecting all columns and then dropping column 'credit_ranking'
X = loans_df.copy()
X = X.drop("credit_ranking", axis=1)

# Review the features DataFrame
X.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4

### Step 3: Split the features and target sets into training and testing datasets.

In [7]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 4: Use scikit-learn's `StandardScaler` to scale the features data.

In [8]:
# Create a StandardScaler instance
Standard_Scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_train_scaled = Standard_Scaler.fit_transform(X_train)
X_test_scaled = Standard_Scaler.transform(X_test)

---

## Compile and Evaluate a Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [9]:
# Define the the number of inputs (features) to the model
input_nodes = len(X.columns)

# Review the number of features
print(f"Number of features: ", input_nodes)

Number of features:  11

In [10]:
# Define the number of hidden nodes for the first hidden layer
Nodes_hidden_layer_1 = 6

# Define the number of hidden nodes for the second hidden layer
Nodes_hidden_layer_2 = 3


# Define the number of neurons in the output layer
Output_nodes = 1

In [11]:
# Create the Sequential model instance
nn_model = tf.keras.models.Sequential()

# Add the first hidden layer
nn_model.add( tf.keras.layers.Dense(units=Nodes_hidden_layer_1, input_dim=input_nodes, activation="relu") )

# Add the second hidden layer
nn_model.add(tf.keras.layers.Dense(units=Nodes_hidden_layer_2, activation="relu"))

# Add the output layer to the model specifying the number of output neurons and activation function
nn_model.add(tf.keras.layers.Dense(units=Output_nodes, activation="sigmoid"))

# Arnab's Comments: Please note that the number of Hidden Layers and the number of Neurons in each Hidden Layer are hyperparameters that can be tuned to improve the model's performance.

WARNING:tensorflow:From c:\Users\arnab\anaconda3\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [12]:
# Display the Sequential model summary
nn_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 6)                 72

 dense_1 (Dense)             (None, 3)                 21

 dense_2 (Dense)             (None, 1)                 4

=================================================================
Total params: 97 (388.00 Byte)
Trainable params: 97 (388.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [13]:
# Compile the Sequential model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

WARNING:tensorflow:From c:\Users\arnab\anaconda3\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [14]:
# Fit the model using 50 epochs and the training data
fit_model = nn_model.fit(X_train_scaled,y_train,epochs=50)

Epoch 1/50
WARNING:tensorflow:From c:\Users\arnab\anaconda3\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\arnab\anaconda3\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

38/38 [==============================] - 1s 2ms/step - loss: 0.6848 - accuracy: 0.5596
Epoch 2/50
38/38 [==============================] - 0s 1ms/step - loss: 0.6662 - accuracy: 0.6063
Epoch 3/50
38/38 [==============================] - 0s 2ms/step - loss: 0.6479 - accuracy: 0.6430
Epoch 4/50
38/38 [==============================] - 0s 1ms/step - loss: 0.6282 - accuracy: 0.6555
Epoch 5/50
38/38 [==============================] - 0s 1ms/step - loss: 0.6085 - accuracy: 0.6664
Epoch 6/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5905 - accuracy: 0.6639
Epoch 7/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5761 - accuracy: 0.6931
Epoch 8/50
38/38 [==============================] - 0s 3ms/step - loss: 0.5638 - accuracy: 0.7031
Epoch 9/50
38/38 [==============================] - 0s 2ms/step - loss: 0.5554 - accuracy: 0.7139
Epoch 10/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5484 - accuracy: 0.7206
Epoch 11/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5430 - accuracy: 0.7264
Epoch 12/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5390 - accuracy: 0.7331
Epoch 13/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5355 - accuracy: 0.7331
Epoch 14/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5328 - accuracy: 0.7348
Epoch 15/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5309 - accuracy: 0.7398
Epoch 16/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5291 - accuracy: 0.7456
Epoch 17/50
38/38 [==============================] - 0s 2ms/step - loss: 0.5275 - accuracy: 0.7465
Epoch 18/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5262 - accuracy: 0.7456
Epoch 19/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5246 - accuracy: 0.7506
Epoch 20/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5236 - accuracy: 0.7523
Epoch 21/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5225 - accuracy: 0.7548
Epoch 22/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5216 - accuracy: 0.7556
Epoch 23/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5208 - accuracy: 0.7556
Epoch 24/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5199 - accuracy: 0.7573
Epoch 25/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5193 - accuracy: 0.7581
Epoch 26/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5189 - accuracy: 0.7556
Epoch 27/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5182 - accuracy: 0.7565
Epoch 28/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5173 - accuracy: 0.7556
Epoch 29/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5174 - accuracy: 0.7540
Epoch 30/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5166 - accuracy: 0.7531
Epoch 31/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5160 - accuracy: 0.7548
Epoch 32/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5157 - accuracy: 0.7540
Epoch 33/50
38/38 [==============================] - 0s 3ms/step - loss: 0.5154 - accuracy: 0.7523
Epoch 34/50
38/38 [==============================] - 0s 2ms/step - loss: 0.5150 - accuracy: 0.7565
Epoch 35/50
38/38 [==============================] - 0s 2ms/step - loss: 0.5150 - accuracy: 0.7540
Epoch 36/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5144 - accuracy: 0.7531
Epoch 37/50
38/38 [==============================] - 0s 2ms/step - loss: 0.5141 - accuracy: 0.7565
Epoch 38/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5137 - accuracy: 0.7565
Epoch 39/50
38/38 [==============================] - 0s 2ms/step - loss: 0.5136 - accuracy: 0.7556
Epoch 40/50
38/38 [==============================] - 0s 2ms/step - loss: 0.5131 - accuracy: 0.7573
Epoch 41/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5127 - accuracy: 0.7565
Epoch 42/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5133 - accuracy: 0.7590
Epoch 43/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5125 - accuracy: 0.7556
Epoch 44/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5123 - accuracy: 0.7565
Epoch 45/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5119 - accuracy: 0.7531
Epoch 46/50
38/38 [==============================] - 0s 2ms/step - loss: 0.5114 - accuracy: 0.7548
Epoch 47/50
38/38 [==============================] - 0s 2ms/step - loss: 0.5109 - accuracy: 0.7548
Epoch 48/50
38/38 [==============================] - 0s 3ms/step - loss: 0.5107 - accuracy: 0.7565
Epoch 49/50
38/38 [==============================] - 0s 2ms/step - loss: 0.5108 - accuracy: 0.7540
Epoch 50/50
38/38 [==============================] - 0s 2ms/step - loss: 0.5100 - accuracy: 0.7556

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [24]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Model Loss: {model_loss:.5f}, Model Accuracy: {model_accuracy:.5f}")

13/13 - 0s - loss: 0.5040 - accuracy: 0.7500 - 132ms/epoch - 10ms/step
Model Loss: 0.50403, Model Accuracy: 0.75000

Let us tune the model using Keras Hyperband Tuner to see if we can get better results.

In [16]:
# Arnab's Comments: We have added a new cell to imlement the Hyperparameter Tuning using Keras Tuner. 
# We will use the Hyperband algorithm to tune the hyperparameters of the model.
# We have created a method that creates a Sequential model with hyperparameter options

def build_model(hp):
    nn_model_tuned = tf.keras.models.Sequential()

    # Allow kerastuner to decide number of neurons in first hidden layer with activation function as relu
    nn_model_tuned.add(tf.keras.layers.Dense(
                                             units=hp.Int('first_units', min_value=1, max_value=200,step=2), 
                                             activation='relu', 
                                             input_dim=len(X.columns)
                                             )
                       )
    
    # Allow keras tuner to decide which activation function to use in hidden layers
    successive_activation = hp.Choice('activation',['relu', 'tanh', 'softmax', 'leaky_relu', 'elu', 'swish'])

    # Allow kerastuner to decide number of hidden layers and neurons in the successive hidden layers
    for i in range(hp.Int('num_layers', 1, 3)):
        nn_model_tuned.add(
                            tf.keras.layers.Dense
                                (
                                    units=hp.Int('units_' + str(i), min_value=1, max_value=200, step=2),
                                    activation=successive_activation
                                 )
                           )

    # Add the output layer to the model specifying single output neuron and sigmoid activation function
    nn_model_tuned.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_model_tuned.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])

    return nn_model_tuned

In [17]:
# Import the kerastuner library
import keras_tuner as kt

tuner = kt.Hyperband(
    build_model,
    objective="val_accuracy",
    max_epochs=50,
    directory='keras_tuner_demo',
    project_name='keras_tuning'
    )

In [18]:
# Run tuner.search
tuner.search(X_train_scaled, y_train, epochs=50, validation_data=(X_test_scaled,y_test), validation_split=0.2, batch_size=32 )

Trial 90 Complete [00h 00m 08s]
val_accuracy: 0.7400000095367432

Best val_accuracy So Far: 0.7774999737739563
Total elapsed time: 00h 05m 03s

Review and Retrieve the Best Model

In [25]:
# printing the top model parameters
best_hps = tuner.get_best_hyperparameters()
print(best_hps[0].values)

# Get the best model    
best_model = tuner.get_best_models()[0]

# Evaluate the Model Loss & Accuracy for the best model
model_loss, model_accuracy = best_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Model Loss: {model_loss:.5f}, Model Accuracy: {model_accuracy:.5f}")

{'first_units': 159, 'activation': 'softmax', 'num_layers': 2, 'units_0': 15, 'units_1': 81, 'units_2': 195, 'tuner/epochs': 50, 'tuner/initial_epoch': 0, 'tuner/bracket': 0, 'tuner/round': 0}
13/13 - 0s - loss: 0.5490 - accuracy: 0.7775 - 238ms/epoch - 18ms/step
Model Loss: 0.54898, Model Accuracy: 0.77750

### Step 4: Save and export your model to a keras file, and name the file `student_loans.keras`.

In [26]:
# Set the model's file path
model_path = "Saved_Model/student_loan.keras"


# Export your model to a keras file
best_model.save(model_path)

---
## Predict Loan Repayment Success by Using your Neural Network Model

### Step 1: Reload your saved model.

In [28]:
# Set the model's file path
file_path = Path("Saved_Model/student_loan.keras")

# Load the model to a new object
nn_imported = tf.keras.models.load_model(file_path)

### Step 2: Make predictions on the testing data and save the predictions to a DataFrame.

In [34]:
# Make predictions with the test data
predictions = nn_imported.predict(X_test_scaled)

# Display a sample of the predictions
print(predictions[:5])

 1/13 [=>............................] - ETA: 0s

13/13 [==============================] - 0s 2ms/step
[[0.34960866]
 [0.3354806 ]
 [0.73026484]
 [0.7043443 ]
 [0.7302864 ]]

In [37]:
# Save the predictions to a DataFrame
predictions_df = pd.DataFrame(predictions, columns=['credit_ranking_prediction'])

# Round the predictions to binary results
predictions_df['credit_ranking_prediction'] = round(predictions_df['credit_ranking_prediction'], 0)
predictions_df.head()

   credit_ranking_prediction
0                        0.0
1                        0.0
2                        1.0
3                        1.0
4                        1.0

### Step 4: Display a classification report with the y test data and predictions

In [38]:
# Print the classification report with the y test data and predictions
print(classification_report(y_test, predictions_df))

              precision    recall  f1-score   support

           0       0.74      0.81      0.77       188
           1       0.82      0.75      0.78       212

    accuracy                           0.78       400
   macro avg       0.78      0.78      0.78       400
weighted avg       0.78      0.78      0.78       400

---
## Discuss creating a recommendation system for student loans

Briefly answer the following questions in the space provided:

1. Describe the data that you would need to collect to build a recommendation system to recommend student loan options for students. Explain why this data would be relevant and appropriate.

2. Based on the data you chose to use in this recommendation system, would your model be using collaborative filtering, content-based filtering, or context-based filtering? Justify why the data you selected would be suitable for your choice of filtering method.

3. Describe two real-world challenges that you would take into consideration while building a recommendation system for student loans. Explain why these challenges would be of concern for a student loan recommendation system.

**1. Describe the data that you would need to collect to build a recommendation system to recommend student loan options for students. Explain why this data would be relevant and appropriate.**

Answer: I think we should try to get the credit history of the student(If Available) like Credit score, Existing credit accounts or loans, History of payments. Because having this piece of information impacts the eligibility and terms of private loans. We can get an idea about the student's borrowing history and repayment behavior & student's creditworthiness. We can also get the student's academic performance, the field of study, and the institution they are studying in. This information can help us to understand the student's future earning potential and the likelihood of repaying the loan, Some loan programs are tailored to specific fields of study. We can also get the student's PII data like Name, age, gender, contact information - this is for validation and identification of the student, determine eligibility for certain loan programs and legal agreements, and contact information for necessary communication and follow-ups. Finally student's financial information like Individual Income, household income, employment status, and financial assets - this information can help us to understand the student's ability to repay the loan and determine the loan amount and terms.


**2. Based on the data you chose to use in this recommendation system, would your model be using collaborative filtering, content-based filtering, or context-based filtering? Justify why the data you selected would be suitable for your choice of filtering method.**

Answer: I would use content-based filtering because we have the student's credit history, academic performance, field of study, and institution they are studying in. Content-based filtering. Content-based filtering is suitable for providing personalized recommendations that match user preferences and interests. Here it mtaches the use case to validate the profile of the student, preferences to recommend items that are similar to ones if the user has any loan in the past. We can recommend student loans based on the student's credit history, academic performance, field of study, and institution they are studying in.


**3. Describe two real-world challenges that you would take into consideration while building a recommendation system for student loans. Explain why these challenges would be of concern for a student loan recommendation system.**

Answer: Two real-world challenges to consider when building a recommendation system for student loans could be:
1. Data Privacy and Security: Our data requirement recommends collecting sensitive information like PII data, credit history, academic performance, and financial information. Students may be hesitant to share sensitive financial details with the recommendation system due to concerns about data privacy and security. A breach of this information could lead to identity theft, financial fraud, or other consequences for the student. Once we have this data, we must ensure that the data is stored securely and that access to the data is restricted to only those who need it. We must also ensure that the data is anonymized and that the privacy of the students is protected.

2. Bias and Fairness: Another challenge is ensuring that the recommendation system is free from bias and provides fair recommendations to all students. Bias can occur in the data used to train the recommendation system, leading to unfair recommendations that favor certain groups of students over others. For example, if the recommendation system is trained on data that is biased against students from certain demographic groups, it may provide recommendations that are unfair to those students.